* {
    box-sizing: border-box;
    /* background-color: rgb(84, 12, 84); */
}

body {
    margin: 0;
    background-color: rgb(113, 157, 195);
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: black; */
    color: white;
    align-items: center;
    background: #276b7c;
    background-image: -webkit-linear-gradient(top, #1b528d, #27457d);
    background-image: -moz-linear-gradient(top, #1c505d, #74276c);
    background-image: -ms-linear-gradient(top, #42899b, #621f5b);
    


}



.Logo {
    position: absolute;
    left: 1em;
    
    /* background-color: rgb(5, 4, 4); */
}
 
.logo img{
  position: relative;
  padding-top: 2em;
  height: 13em;
  width: 11em;
}

.nav-flags {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* background-color: #1b528d; */
    background-image: -webkit-linear-gradient(top, #27457d, #27457d);
    
    color: black;
    
}

.flag {
    padding: 1%;
    background-color: #27457d;
    font-size: 2em ;
    
}

a{
    text-decoration: none;
    padding: 1% 2%;
}

.flag:hover {
    background-color: black;
}

.nav-heading{
   color: #1e262f;
   font-size: 3em;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}


/* body  */

/* body background  */
.countries {
    content: "";

    z-index: -2;
    opacity: 0.98;
    border-radius: 10px;

    background: #276b7c;
    background-image: -webkit-linear-gradient(top,#27457d, #7d2775);
    background-image: -moz-linear-gradient(top, #1c505d, #74276c);
    background-image: -ms-linear-gradient(top, #42899b, #621f5b);
}
/* head  */
#head{
    position: relative;
    align-items: center;
}

/* country background alignment  */
.country1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 7em;
    padding-right: 5em;
    padding-top: 15em;
  
}

.country2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 7em;
    padding-right: 5em;
    padding-top: 5em;
}

.country3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

/* each country prop  */
.country {
    /* display: ; */
    padding: 3em;
    opacity: 0.9;
    width: 25em;
    height: 25em;

}

.country:hover {

    opacity: 0.4;
    padding: 0.7em;
    border-radius: 2px;
    transform: scale(1.5);
   animation-delay: inherit;
}


@media (max-width:500px) {
    .nav-flags {
        display: flex;
        justify-content: center;
    }
}
