* {
    margin: 0px;
    padding: 0px;
}

/* css variables */
:root {
    --navbar-height: 59px;
}

/* Body */
body{
    background-image: url(Images/bg.jpg) ;
}
/*navbar css*/
#navbar {
    display: flex;
    align-items: center;
    
    padding: 2% 5%;
    opacity: 0.8;
}

/* #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: 0; */
    /* opacity: 0.4; */
/* } */ 

/* #logo {
    /* margin: 9px 19px; */
/* } */

#logo img {
    margin: 2px 3px;
    height: 56px;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
}

#navbar ul {
    display: flex;
    margin-left: 220px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}


#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#navbar h2 {
    color: white;
    margin-left: 100px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#navbar h2:hover {
    color: crimson;
}

/*navbar css ends*/
/*home section*/
#home {
    
    display: flex;
    
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 3px 200px;
    margin-top: 50px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
     /* width: 100%; */
}

/* #home::before {
    content: "";
    /* background: url('Images/bg.jpg') no-repeat center center/cover; */
    /* position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.88; */
/* } * */

.h-primary {
    font-size: 2.8rem;
    /*utility class*/
    padding: 12px;
    margin-top: 2rem;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}



/* body  */

/* body background  */
.countries {
    content: "";
    position: relative;
    /* z-index: 0; */
    opacity: 0.98;
    border-radius: 10px;

    /* background: #276b7c;
    background-image: -webkit-linear-gradient(top, #27457d, #7d2775);
    background-image: -moz-linear-gradient(top, #1c505d, #74276c);
    background-image: -ms-linear-gradient(top, #42899b, #621f5b); */
}

/* head  */

#head {
    text-align: center;
    padding: 2% 5%;
}

#head{
   text-align: center;
   padding: 2% 5% ;
   background-color:#440e3e ;
   position: absolute;
   left: 40%;
   border-radius: 16px;
   margin-bottom:100px;
}
   

#head {
    text-align: center;
    padding: 2% 5%;
    background-color: #440e3e;
    position: absolute;
    left: 40%;
    border-radius: 16px;



}



/* country background alignment  */
.country1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 7rem;
    padding-right: 5rem;
    padding-top: 15rem;
    margin: 0;

}

.country2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 7rem;
    padding-right: 5rem;
    padding-top: 5rem;
}

.country3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

/* each country prop  */
.country {
    /* display: ; */
    padding: 3rem;
    opacity: 0.9;
    width: 25rem;
    height: 25rem;

}

.country:hover {

    opacity: 0.4;
    padding: 0.7rem;
    border-radius: 2px;
    transform: scale(1.5);
    animation-delay: inherit;
}
 h4{
    color: #fff;
    text-align: center;
}

/* Footer */
.footer-text{
    color:#fff;
    text-align: center;
}




@media (max-width:500px) {

    #home{
        display: flex;
        justify-content: center;
    }
    #navbar ul{
        text-align: center;
    }
    #navbar{


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        /* flex-wrap: wrap; */
    }

    .list-flags{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
   
    .navbar-heading-element{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .countries{
        display: flex;
        justify-content: center;
    }

    .country1 {
        display: flex;
        flex-direction: column;
        padding: 10%;
    }

    .country2 {
        display: flex;
        flex-direction: column;
        padding: 10%;
    }

    .country3 {
        display: flex;
        flex-direction: column;
        padding: 10%;
    }

    .countries {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        padding: 10%;
    }

    h3 {
        text-align: center;
    }
    .footer-text{
        text-align: center;
    }
}